body {
	background:maroon;
	margin:45px 20px 20px;
}

.wrapper {
	width:600px;
	margin:0 auto;
	padding:0;
}

a.card {
	display:block;
	float:left;
	width:109px;
	height:171px;
	margin:2px;
	padding:0;
	background:#333;
	border-radius:4px;
	/* link to the sprite image here */
	background: url() no-repeat;
}

/* write rollover selectors here for c1 - c15 */


